#cabecera{
    background-color: blue;
    height:4vh ;
    width: 100% ;
    overflow: hidden;
}

#cuerpo{
    background-color: red;
    height:50vh;
    width: 100%;
}

#pie{
    background-color: blue;
    height:4vh ;
    width: 100% ;
    overflow: hidden;
}